{% extends "task/base.html" %}

{% block content %}
<div id="app">
    <form>
        <div class="form-group row">
            <div class="col-9 ">
            	<label>Create New Text</label>
            	<input type="text" class="form-control" />
            </div>
            <div class="d-flex flex-column">
            	<button class="btn btn-info mt-auto" type="button">Add</button>
           	</div>
        </div>
    </form>

    <div>
	    <div class="card mt-4">
	        <div class="card-body">
	        	[[ task ]]
	        	<button class="close" type="button" >
	        		<span>&times;</span>
	        	</button>
	        </div>
	    </div>
	</div>
</div>

{% endblock content %}

