{% load static %}


<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
	<title>Todo App</title>
</head>
<body>
	<div class="container">
	    <div class="row">
	        <div class="col-6 mx-auto mt-5">
	        	{% block content %}
	        		
	        	{% endblock content %}
	        </div>
	    </div>
	</div>

	<script type="text/javascript" src="{% static "main.js" %}"></script>
</body>
</html>

